<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>News</title>
</head>

<body>
<div class="container">
    <h2>NEWS</h2>
</div>

<!-- TABLE: News -->
<div class="container" th:each="news: ${allNews}">
    <div class="container">
        <table class="table">
            <tr>
                <thead class="thead-dark">
                <th scope="col" th:text="${news.getTitle()}"></th>
                </thead>
            </tr>
            <tr>
                <td>
                    <img class="rounded mx-auto d-block" th:src="${news.getImageUrl()}" alt="No image" width="60%">
                </td>
            </tr>
            <tr>
                <td th:text="${news.getImageUrl()}"></td>
            </tr>
            <tr>
                <td th:text="${news.getDescription()}"></td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-warning editButton"
                       id="toggleEditModal">Edit</a>
                    <!-- th:href="@{/get-car-by-id/(id=${car.getId()})}"  -->
                </td>
            </tr>
        </table>
    </div>

</div>


<!-- MODAL: Filter by color
<div class="modal fade" id="filterByColorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form th:action="@{/get-car-by-color}" th:method="get">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterByColorModalCenterTitle">Filter by color</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="colorAdd" class="col-form-label">Color:</label>
                        <select class="form-control" id="colorFilterByColor" name="color">
                            <option value="RED">Red</option>
                            <option value="GREEN">Green</option>
                            <option value="BLUE">Blue</option>
                            <option value="WHITE">White</option>
                            <option value="BLACK">Black</option>
                            <option value="YELLOW">Yellow</option>
                            <option value="ORANGE">Orange</option>
                            <option value="BROWN">Brown</option>
                            <option value="GREY">Grey</option>
                            <option value="UNKNOWN">Unknown</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitFilterByColor">Filter</button>
                </div>
            </div>
        </div>
    </form>
</div>
-->
<!-- MODAL: Filter by date
<div class="modal fade" id="filterByDateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form th:action="@{/get-car-by-date}" th:method="get">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterByDateCenterTitle">Filter by date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="fromDateFilterByDate" class="col-form-label">Production date</label>
                        <input type="text" class="form-control" id="fromDateFilterByDate" placeholder="yyyy-MM-dd"
                               name="from">
                        <p id="fromDateFilterByDateMessage" style="color: red;">
                            **Production date is missing
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="toDateFilterByDate" class="col-form-label">Production date</label>
                        <input type="text" class="form-control" id="toDateFilterByDate" placeholder="yyyy-MM-dd"
                               name="to">
                        <p id="toDateFilterByDateMessage" style="color: red;">
                            **Production date is missing
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitFilterByDate">Filter</button>
                </div>
            </div>
        </div>
    </form>
</div>
-->
<!-- MODAL: Add Car
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form th:action="@{/add-car}" th:method="post">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalCenterTitle">Add car</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="markAddCar" class="col-form-label">Mark</label>
                        <input type="text" class="form-control" id="markAddCar" placeholder="Mark" name="mark">
                        <p id="markAddMessage" style="color: red;">
                            **Mark is missing
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="modelAddCar" class="col-form-label">Model</label>
                        <input type="text" class="form-control" id="modelAddCar" placeholder="Model"
                               name="model">
                        <p id="modelAddMessage" style="color: red;">
                            **Model is missing
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="colorAdd" class="col-form-label">Color:</label>
                        <select class="form-control" id="colorAdd" name="color">
                            <option value="RED">Red</option>
                            <option value="GREEN">Green</option>
                            <option value="BLUE">Blue</option>
                            <option value="WHITE">White</option>
                            <option value="BLACK">Black</option>
                            <option value="YELLOW">Yellow</option>
                            <option value="ORANGE">Orange</option>
                            <option value="BROWN">Brown</option>
                            <option value="GREY">Grey</option>
                            <option value="UNKNOWN">Unknown</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateAddCar" class="col-form-label">Production date</label>
                        <input type="text" class="form-control" id="dateAddCar" placeholder="yyyy-MM-dd"
                               name="productionDate">
                        <p id="dateAddMessage" style="color: red;">
                            **Production date is missing
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitAdd">Add new car</button>
                </div>
            </div>
        </div>
    </form>
</div>
-->
<!-- MODAL: Edit Car
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form th:action="@{/modify-car}" th:method="put">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalCenterTitle">Modify car</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idEdit" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" id="idEdit" name="id" readonly>
                        <p id="idEditMessage" style="color: red;">
                            **Id is missing
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="markEdit" class="col-form-label">Mark:</label>
                        <input type="text" class="form-control" id="markEdit" name="mark">
                        <p id="markEditMessage" style="color: red;">
                            **Mark is missing
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="modelEdit" class="col-form-label">Model:</label>
                        <input type="text" class="form-control" id="modelEdit" name="model">
                        <p id="modelEditMessage" style="color: red;">
                            **Model is missing
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="colorEdit" class="col-form-label">Color:</label>
                        <select class="form-control" id="colorEdit" name="color">
                            <option value="RED">Red</option>
                            <option value="GREEN">Green</option>
                            <option value="BLUE">Blue</option>
                            <option value="WHITE">White</option>
                            <option value="BLACK">Black</option>
                            <option value="YELLOW">Yellow</option>
                            <option value="ORANGE">Orange</option>
                            <option value="BROWN">Brown</option>
                            <option value="GREY">Grey</option>
                            <option value="UNKNOWN">Unknown</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateEdit" class="col-form-label">Production date</label>
                        <input type="text" class="form-control" id="dateEdit" placeholder="yyyy-MM-dd"
                               name="productionDate">
                        <p id="dateEditMessage" style="color: red;">
                            **Production date is missing
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitEdit">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
-->
<!-- MODAL: Delete Car
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form form th:action="@{/delete-car}" th:method="put">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Confirm delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete selected record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="" type="button" class="btn btn-danger" id="idDelete"> Yes delete</a>
                </div>
            </div>
        </div>
    </form>
</div>
-->
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/validation.js}"></script>


</body>

</html>